
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background: #fcd2e2;
  color: #333;
  overflow-x: hidden; 
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
  flex-wrap: wrap;
  background-color: #fcd2e2
 
}

.logo {
  font-weight: bold;
  color: #d5006d;
  font-size: 22px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #d5006d;
}

.btn-buy {
  background: #fff;
  color: #d5006d;
  padding: 10px 25px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
  white-space: nowrap;
}

.btn-buy:hover {
  background: #d5006d;
  color: #fff;
}


.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 5%;
  flex-wrap: wrap; 
  gap: 40px;
  background-color: #fcd2e2 !important;
  
}


.hero-text {
  flex: 1 1 400px;
  max-width: 600px;
}

.hero-text h1 {
  font-size: 52px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero-text h1 span {
  color: #d5006d;
}

.buttons {
  margin: 30px 0;
}

.btn, .btn-outline {
  text-decoration: none;
  padding: 14px 28px;
  border-radius: 30px;
  margin-right: 15px;
  font-weight: bold;
  transition: 0.3s;
  display: inline-block;
}

.btn {
  background: #d5006d;
  color: #fff;
}

.btn-outline {
  border: 2px solid #d5006d;
  color: #d5006d;
}

.btn:hover, .btn-outline:hover {
  opacity: 0.8;
}

.eco {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.eco img {
  width: 250px;
  margin-right: 15px;
}

.eco p {
  font-size: 20px;
  max-width: 280px;
  line-height: 1.5;
}


.hero-img {
  position: relative;
  flex: 1 1 400px;
  max-width: 500px;
  text-align: center;
}

.circle {
  width: 100%;
  max-width: 480px;
  aspect-ratio: 1/1;
  background: #fcbad3;
  border-radius: 50%;
  margin: 0 auto;
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}

.icecream {
  width: 90;
  max-width: 350px;
  position: relative;
  z-index: 1;
}


.stats {
  position: absolute;
  top: 20%;
  right: -60px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: center;
}

.stats .stat span {
  font-size: 36px;
  font-weight: bold;
  color: #d5006d;
}

.stats .stat p {
  font-size: 16px;
  color: #333;
}


.girl {
  position: absolute;
  bottom: -10px;
  right: -50px;
  text-align: center;
}

.girl img {
  width: 232px;
  max-width: 40vw;
}

.girl p {
  color: #d5006d;
  font-size: 180px;
  font-weight: bold;
  margin-top: 10px;
  line-height: 1.2;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #d5006d;
  font-size: 220px;
}

.logo img {
  width: 150px;   
  height: auto;
}
