header {
  @media screen and (min-width: 320px) {
    background-color: #ffb8ca;
  }
  @media screen and (min-width: 768px) {
    padding-top: 37px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 37px;
    padding-bottom: 40px;
  }
}

.logo {
  @media screen and (min-width: 320px) {
    padding-left: 20px;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #d5006d;
    font-size: 220px;
  }
}

.logo img {
  @media screen and (max-width: 767px) {
    width: 150px;
    height: 50px;
  }
  @media screen and (min-width: 768px) {
    width: 200px;
    height: 50px;
    // position: relative;
    bottom: -210px;
    left: 15%;
  }
}

.btn-buy {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    background: #fff;
    color: #d5006d;
    padding: 10px 25px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    white-space: nowrap;
    // position: relative;
    bottom: -194px;
    width: 160px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
  }
}

.btn-buy:hover {
  @media screen and (max-width: 767px) {
    background: #d5006d;
    color: #fff;
  }
}

.lip {
  color: #d41443;
}

.header-list {
  @media screen and (max-width: 1279px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.svg-menu {
  @media screen and (min-width: 320px) {
    width: 20px;
    height: 12px;
  }
  @media screen and (min-width: 768px) {
    width: 30px;
    height: 17px;
  }
}

.menu-button {
  @media screen and (min-width: 320px) {
    border: none;
    outline: none;
    background: none;
    padding-right: 20px;
  }
  @media screen and (min-width: 768px) {
    // position: relative;
    bottom: -198px;
    z-index: 3;
    margin-right: -220px;
    display: none;
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.head-flex {
  @media screen and (min-width: 320px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.pil {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  display: flex;
  align-items: center;

  color: #ffffff;
}

.header-list-link {
  margin-right: 15px;
}
