.mobile-menu {
  @media screen and (min-width: 768px) {
    display: none;
  }
  width: 100%;

  position: fixed;
  height: 100vh;
  top: 0;
  right: -100%;
  z-index: 10;
  padding-top: 40px;
  padding-bottom: 166px;
  padding-left: 40px;
  padding-right: 10px;
  transition: right 400ms linear;
  background: #e17992;

  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04),
    0px 2px 4px 0px rgba(0, 0, 0, 0.08), 0px 1px 3px 0px rgba(0, 0, 0, 0.16);
}

.mobile-close-menu {
  position: relative;
  top: 2%;
  right: -77%;
  width: 40px;
  height: 40px;
  color: #ffffff;
  z-index: 2;
  border: none;
  outline: none;
  background: none;
  font-size: 20px;
}

.mobile-menu.active {
  right: 0;
}

.mobile-header-list-li:not(:last-child) {
  margin-bottom: 35px;
}

.mobile-header-list-link {
  color: #ffffff;

  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.8px;
}

.mobile-header-list-link:hover {
  color: #d41443;
}

.mobile-header-list {
  margin-bottom: 275px;
}

.mobile-list-phone {
  color: #2196f3;

  font-family: Roboto;
  font-size: 34px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.68px;
  margin-bottom: 32px;
}

.mobile-list-email-link {
  color: #757575;

  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}

.mobile-list-item {
  margin-top: 48px;
}

.mobile-list-email {
  margin-top: 32px;
}

.mobile-list-links {
  display: flex;
  margin-top: 64px;
  margin-bottom: 48px;
}

.mobile-text-link {
  color: #2196f3;

  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 122.222% */
  letter-spacing: 0.36px;
}

.mobile-li-link:not(:last-child) {
  margin-right: 20px;
}

.mobile-close-menu:hover {
  color: #d41443;
}

.close-svg {
  height: 40px;
  width: 40px;
}

.btn-buy-bmn {
  position: relative;
  top: 30px;
  left: 25%;
  display: flex;
  width: 209px;
  height: 50px;
  text-align: center;
  align-items: center;
  background: #fff;
  color: #d5006d;
  padding: 10px 25px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
  white-space: nowrap;
  justify-content: center;
  font-size: 22px;
}

.btn-buy:hover {
  background: #d5006d;
  color: #fff;
}

.home {
  color: #d41443;
}

.mobile-header-list {
  padding-top: 140px;
}
